apiVersion: v1
kind: Secret
data:
  CredentialKeys0: {{ genPassword . "KeystoneCredential0" }}
  CredentialKeys1: {{ genPassword . "KeystoneCredential1" }}
  FernetKeys0: {{ genPassword . "KeystoneFernetKey0" }}
  FernetKeys1: {{ genPassword . "KeystoneFernetKey0" }}
metadata:
  name: keystone
  namespace: openstack
type: Opaque