apiVersion: v1
data:
  AdminPassword: {{ genPassword .Passwords "AdminPassword"  }}
  AodhPassword: {{ genPassword .Passwords "AodhPassword"  }}
  AodhDatabasePassword: {{ genPassword .Passwords "AodhPassword"  }}
  CeilometerPassword: {{ genPassword .Passwords "CeilometerPassword"  }}
  CinderDatabasePassword: {{ genPassword .GroupVars "cinder::db::mysql::password"  }}
  CinderPassword: {{ genPassword .Passwords "CinderPassword"  }}
  BarbicanDatabasePassword: {{ genPassword .Passwords "BarbicanPassword"  }}
  BarbicanPassword: {{ genPassword .Passwords "BarbicanPassword"  }}
  DatabasePassword: {{ genPassword .Passwords "MysqlRootPassword"  }}
  DbRootPassword: {{ genPassword .Passwords "MysqlRootPassword"  }} 
  DesignateDatabasePassword: {{ genPassword .Passwords "DesignatePassword"  }}
  DesignatePassword: {{ genPassword .Passwords "DesignatePassword"  }}
  GlanceDatabasePassword: {{ genPassword .GroupVars "glance::db::mysql::password"  }}
  GlancePassword: {{ genPassword .Passwords "GlancePassword"  }}
  HeatAuthEncryptionKey: <base64_password_heat>
  HeatDatabasePassword: {{ genPassword .GroupVars "heat::db::mysql::password"  }}
  HeatPassword: {{ genPassword .Passwords "HeatPassword"  }}
  IronicDatabasePassword: {{ genPassword .Passwords "IronicPassword"  }}
  IronicInspectorDatabasePassword: {{ genPassword .Passwords "IronicPassword"  }}
  IronicInspectorPassword: {{ genPassword .Passwords "IronicPassword"  }}
  IronicPassword: {{ genPassword .Passwords "IronicPassword"  }}
  KeystoneDatabasePassword: {{ genPassword .GroupVars "keystone::db::mysql::password"  }}
  ManilaDatabasePassword: {{ genPassword .Passwords "ManilaPassword"  }}
  ManilaPassword: {{ genPassword .Passwords "ManilaPassword"  }}
  MetadataSecret: {{ genPassword .Passwords "AdminPassword"  }}
  NeutronDatabasePassword: {{ genPassword .GroupVars "neutron::db::mysql::password"  }}
  NeutronPassword: {{ genPassword .Passwords "NeutronPassword"  }}
  NovaAPIDatabasePassword: {{ genPassword .Passwords "NovaPassword"  }}
  NovaCell0DatabasePassword: {{ genPassword .Passwords "NovaPassword"  }}
  NovaCell0MessageBusPassword: {{ genPassword .Passwords "NovaPassword"  }}
  NovaCell1DatabasePassword: {{ genPassword .Passwords "NovaPassword"  }}
  NovaPassword: {{ genPassword .Passwords "NovaPassword"  }}
  OctaviaDatabasePassword: {{ genPassword .Passwords "OctaviaPassword"  }}
  OctaviaPassword: {{ genPassword .Passwords "OctaviaPassword"  }}
  PlacementDatabasePassword: {{ genPassword .GroupVars "placement::db::mysql::password"  }}
  PlacementPassword: {{ genPassword .Passwords "PlacementPassword"  }}
  SwiftPassword: {{ genPassword .Passwords "SwiftPassword"  }}
kind: Secret
metadata:
  name: .Name
  namespace: .Namespace
type: Opaque