apiVersion: v1
data:
  AdminPassword: {{ genPassword . "AdminPassword"  }}
  AodhPassword: {{ genPassword . "AodhPassword"  }}
  AodhDatabasePassword: {{ genPassword . "AodhDatabasePassword"  }}
  CeilometerPassword: {{ genPassword . "CeilometerPassword"  }}
  CinderDatabasePassword: {{ genPassword . "CinderPassword"  }}
  CinderPassword: {{ genPassword . "CinderPassword"  }}
  BarbicanDatabasePassword: {{ genPassword . "BarbicanPassword"  }}
  BarbicanPassword: {{ genPassword . "BarbicanPassword"  }}
  DatabasePassword: {{ genPassword . "DatabasePassword"  }}
  DbRootPassword: {{ genPassword . "DbRootPassword"  }}
  DesignateDatabasePassword: {{ genPassword . "DesignatePassword"  }}
  DesignatePassword: {{ genPassword . "DesignatePassword"  }}
  GlanceDatabasePassword: {{ genPassword . "GlancePassword"  }}
  GlancePassword: {{ genPassword . "GlancePassword"  }}
  HeatAuthEncryptionKey: <base64_password_heat>
  HeatDatabasePassword: {{ genPassword . "HeatPassword"  }}
  HeatPassword: {{ genPassword . "HeatPassword"  }}
  IronicDatabasePassword: {{ genPassword . "IronicPassword"  }}
  IronicInspectorDatabasePassword: {{ genPassword . "IronicPassword"  }}
  IronicInspectorPassword: {{ genPassword . "IronicPassword"  }}
  IronicPassword: {{ genPassword . "IronicPassword"  }}
  KeystoneDatabasePassword: {{ genPassword . "AdminToken"  }}
  ManilaDatabasePassword: {{ genPassword . "ManilaPassword"  }}
  ManilaPassword: {{ genPassword . "ManilaPassword"  }}
  MetadataSecret: {{ genPassword . "MetadataSecret"  }}
  NeutronDatabasePassword: {{ genPassword . "NeutronPassword"  }}
  NeutronPassword: {{ genPassword . "NeutronPassword"  }}
  NovaAPIDatabasePassword: {{ genPassword . "NovaAPIDatabasePassword"  }}
  NovaAPIMessageBusPassword: {{ genPassword . "NovaAPIMessageBusPassword"  }}
  NovaCell0DatabasePassword: {{ genPassword . "NovaCell0DatabasePassword"  }}
  NovaCell0MessageBusPassword: {{ genPassword . "NovaCell0MessageBusPassword"  }}
  NovaCell1DatabasePassword: {{ genPassword . "NovaCell1DatabasePassword"  }}
  NovaCell1MessageBusPassword: {{ genPassword . "NovaCell1MessageBusPassword"  }}
  NovaPassword: {{ genPassword . "NovaPassword"  }}
  OctaviaDatabasePassword: {{ genPassword . "OctaviaPassword"  }}
  OctaviaPassword: {{ genPassword . "OctaviaPassword"  }}
  PlacementDatabasePassword: {{ genPassword . "PlacementPassword"  }}
  PlacementPassword: {{ genPassword . "PlacementPassword"  }}
  SwiftPassword: {{ genPassword . "SwiftPassword"  }}
kind: Secret
metadata:
  name: osp-secret
  namespace: openstack
type: Opaque